.hom-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: url("https://unsplash.com/photos/people-standing-inside-city-building-3fPXt37X6UQ");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
